@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto&display=swap');

.name{
    font-family: 'Mukta', sans-serif !important;
    border-bottom: 2px solid black;
}

.fill-rest,.fill-all{
    margin-top: 6px;
}

.fa-circle-half-stroke{
margin-bottom: 3px;
}
